body {

  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #34495e;
  position: absolute;
}

h1, p{
  margin: 0;
}

#correction{
  color : red;
}

#upper{
  width:100vw;
}

#upper {
  position: absolute;
  left: 30vw;
  top: 20vh;
  width: 40vw;
}

#quiz{
  background-color: #ecf0f1;

  padding: 1vw;
}

#wrongWords{
  max-height:20vh;
  color:red;
  overflow-y: scroll;
}

#result {
  background-color: #ecf0f1;
  margin-top:1vw;
  padding: 1vw;
}
